.header__lang-link {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    transition: opacity 0.3s;
}

@media (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 24px;
    }
}

.header__lang-link:hover {
    opacity: 0.8;
}