.wrapper__intro {
    padding: 0 148px;
    margin-top: 92px;
}

@media (max-width: 1024px) {
    .wrapper__intro {
        padding: 0 48px;
    }
}

@media (max-width: 768px) {
    .wrapper__intro {
        margin-top: 88px;
        padding: 0 24px;
    }
}

@media (max-width: 320px) {
    .wrapper__intro {
        margin-top: 64px;
        padding: 0 16px;
    }
}