.footer__copyrights {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

@media (max-width: 320px) {
    .footer__copyrights {
        margin-top: 48px;
        font-size: 14px;
        line-height: 14px;
    }
}